<div class="form-page col-12 col-lg-6 mt-4">
    <app-error-message [message]="errorMessage"></app-error-message>
    <form class="sub-form" [formGroup]="form" (ngSubmit)="updateForm()">
        <div class="input-box full-width">
            <label>Old Password</label>
            <div class="input-container"
            [class.error-input]="form['controls']['oldPassword'].errors && form['controls']['oldPassword'].touched">
                <input type="password" autocomplete="current-password" #oldPasswordField placeholder="********"  formControlName="oldPassword"/>
                <i nz-icon nzType="eye-invisible" nzTheme="outline" *ngIf="oldPasswordField.type == 'text'"
                    (click)="oldPasswordField.type = 'password'"></i>
                <i nz-icon nzType="eye" nzTheme="outline" *ngIf="oldPasswordField.type == 'password'"
                    (click)="oldPasswordField.type = 'text'"></i>
            </div>
        </div>
        <div class="input-box full-width">
            <label>New Password</label>
            <div class="input-container"
            [class.error-input]="form['controls']['newPassword'].errors && form['controls']['newPassword'].touched">
                <input type="password" autocomplete="current-password" #newPasswordField placeholder="********"  formControlName="newPassword"/>
                <i nz-icon nzType="eye-invisible" nzTheme="outline" *ngIf="newPasswordField.type == 'text'"
                    (click)="newPasswordField.type = 'password'"></i>
                <i nz-icon nzType="eye" nzTheme="outline" *ngIf="newPasswordField.type == 'password'"
                    (click)="newPasswordField.type = 'text'"></i>
            </div>
        </div>
        <button class="button-primary" [ladda]="processLoading">Update password</button>
    </form>
</div>