<div class="side-page">
    <div class="top d-flex align-items-center justify-content-between">
        <div class="left">
            <h1 class="text-black-1">Settings</h1>
            <p class="text-black-5">Make changes to profile, reset password.</p>
        </div>
    </div>

    <nz-tabset>
        <nz-tab nzTitle="My Profile">
            <app-profile></app-profile>
        </nz-tab>
        <nz-tab nzTitle="Change Password">
            <app-change-password></app-change-password>
        </nz-tab>
        <nz-tab nzTitle="Wards" *ngIf="user.role == 'parent'">
            <app-wards></app-wards>
        </nz-tab>
    </nz-tabset>
</div>