:root {
    --black-1: #040f0f;
    --black-2: #051923;
    --black-3: #495057;
    --black-4: #495057;
    --black-5: #6c757d;
    --black-6: #adb5bd;
    --black-7: #ced4da;
    --black-8: #dee2e6;
    --black-9: #e9ecef;
    --black-10: #f8f9fa;
}
