<div class="main-page">
    <div class="sidebar d-flex flex-column align-item-start">
        <p class="logo">CR<span>SC</span></p>
        <a routerLink="/dashboard/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
            #dashboardLink="routerLinkActive">
            <span nz-icon nzType="appstore" nzTheme="outline"></span>
            Dashboard
        </a>
        <a routerLink="/dashboard/users" routerLinkActive="active-link" #userLink="routerLinkActive">
            <span nz-icon nzType="user" nzTheme="outline"></span>
            Users
        </a>
        <a routerLink="/dashboard/squads" routerLinkActive="active-link" #squadLink="routerLinkActive">
            <span nz-icon nzType="team" nzTheme="outline"></span>
            Squads
        </a>
        <a routerLink="/dashboard/swimmers" routerLinkActive="active-link" #trainingLink="routerLinkActive">
            <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
            Swimmers
        </a>
        <a routerLink="/dashboard/trainings" routerLinkActive="active-link" #trainingLink="routerLinkActive">
            <span nz-icon nzType="bars" nzTheme="outline"></span>
            Trainings
        </a>
        <a routerLink="/dashboard/training-performance" routerLinkActive="active-link" #trainingLink="routerLinkActive">
            <span nz-icon nzType="history" nzTheme="outline"></span>
            Training Performance
        </a>
        <a routerLink="/dashboard/galas" routerLinkActive="active-link" #eventLink="routerLinkActive">
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            Galas
        </a>
        <a routerLink="/dashboard/gala-results" routerLinkActive="active-link" #eventLink="routerLinkActive">
            <span nz-icon nzType="cluster" nzTheme="outline"></span>
            Gala Results
        </a>
        <a routerLink="/dashboard/settings" routerLinkActive="active-link" #settingsLink="routerLinkActive">
            <span nz-icon nzType="setting" nzTheme="outline"></span>
            Settings
        </a>
        <br><br>
        <a (click)="logout()">
            <span nz-icon nzType="logout" nzTheme="outline"></span>
            Logout
        </a>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>